body {
	background-color: #cea500;
	text-shadow: 0px 0px 40px #000;
	color: black;
	font-size: 35px;
}
h1 {
	margin: 50px;
	color: #fff;
	font-size: 90px;
	font-family: verdana;
	/*text-transform: uppercase;*/
}